body {
  text-align: center;
  background: #ddd;
  font-family: "Oxygen", sans-serif;
  font-weight: 700;
  font-size: 2rem;
}

.wrapper {
  width: 1205px;
  height: 750px;
  background: linear-gradient(
      to left,
      rgba(16, 149, 74, 0.9),
      rgba(16, 149, 74, 0.9)
    ),
    url(https://cdn.pixabay.com/photo/2014/01/14/10/16/orchard-244297_1280.jpg)
      bottom center no-repeat;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
  color: #fff;
  position: relative;
}

.home-button {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: transparent;
  border: none;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  cursor: default !important;
  outline: none;
}

.home-button img {
  width: 58px;
  height: 58px;
  cursor: default;
  border: none;
  outline: none;
}

.home-button:focus {
  outline: none;
}

.home-button:hover {
  transform: scale(1.1);
  color: rgb(255, 255, 255);
}

.today {
  position: absolute;
  top: 30px;
  right: 190px;
  font-size: 32px;
  color: #ffffff;
  font-family: "GmarketSansMedium", sans-serif;
}

.clock {
  position: absolute;
  top: 30px;
  right: 50px;
  font-size: 32px;
  color: #ffffff;
}

.m-container {
  width: 100%;
  position: relative;
  left: 50%;
  top: 15%;
  transform: translate(-50%, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.m-container div {
  margin-bottom: 50px;
}

.mic-button {
  position: relative;
  height: 230px;
  width: 230px;
  text-align: center;
  line-height: 230px;
  font-size: 100px;
  background: rgba(96, 96, 96, 0.8);
  border-radius: 100%;
  color: #ffffff;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mic-button:hover {
  transform: scale(1.1);
  color: rgb(0, 0, 0);
}

.mic-button:active {
  transform: scale(0.8);
  color: #000000;
}

.m-active {
  color: rgb(0, 0, 0);
  transition: color 0.5s ease;
}

.mic-button-loader {
  position: absolute;
  height: 230px;
  width: 230px;
  background-color: transparent;
  transform: rotateY(180deg);
  top: 0;
  left: 0;
}

.mic-button-loader.active {
  border-top: 5px solid #aa1111;
  border-radius: 100%;
  animation: borderLoader 1.3s 0.2s ease-in-out infinite;
}

@keyframes rainbowBorder {
  0% {
    border-top-color: red;
  }

  16.666% {
    border-top-color: orange;
  }

  33.333% {
    border-top-color: yellow;
  }

  50% {
    border-top-color: green;
  }

  66.666% {
    border-top-color: blue;
  }

  83.333% {
    border-top-color: indigo;
  }

  100% {
    border-top-color: violet;
  }

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

.mic-button-loader.active {
  position: absolute;
  height: 230px;
  width: 230px;
  background-color: transparent;
  transform: rotateY(180deg);
  top: 0;
  left: 0;
  border-top: 5px solid red;
  border-radius: 100%;
  animation: rainbowBorder 2s 0.2s ease-in-out infinite;
}

/*-------------------------------------*/

.waveContainer {
  position: absolute;
  left: 0;
  right: 0;
  top: 70%;
  transform: translate3d(0, -50%, 0);
  -webkit-transform: translate3d(0, -50%, 0);
  -moz-transform: translate3d(0, -50%, 0);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  height: 80px;
  --boxSize: 10px;
  --gutter: 10px;
  width: calc((var(--boxSize) + var(--gutter)) * 15);
  align-items: center;
}

.wave {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  height: 50%;
  width: var(--boxSize);
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  border-radius: 80px;
}

.wave1 {
  -webkit-animation-name: random1;
  animation-name: random1;
  background: #ffffff;
}

.wave2 {
  -webkit-animation-name: random2;
  animation-name: random2;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
  background: #ffffff;
}

.wave3 {
  -webkit-animation-name: random3;
  animation-name: random3;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  background: #ffffff;
}

.wave4 {
  -webkit-animation-name: random4;
  animation-name: random4;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  background: #ffffff;
}

.wave5 {
  -webkit-animation-name: random5;
  animation-name: random5;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
  background: #ffffff;
}

.wave6 {
  -webkit-animation-name: random6;
  animation-name: random6;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  background: #ffffff;
}

.wave7 {
  -webkit-animation-name: random7;
  animation-name: random7;
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
  background: #ffffff;
}

.wave8 {
  -webkit-animation-name: random8;
  animation-name: random8;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
  background: #ffffff;
}

.wave9 {
  -webkit-animation-name: random9;
  animation-name: random9;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  background: #ffffff;
}

.wave10 {
  -webkit-animation-name: random10;
  animation-name: random10;
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
  background: #ffffff;
}

@-webkit-keyframes random1 {
  0% {
    height: 25%;
  }

  50% {
    height: 100%;
  }

  100% {
    height: 25%;
  }
}

@keyframes random1 {
  0% {
    height: 25%;
  }

  50% {
    height: 100%;
  }

  100% {
    height: 25%;
  }
}

@-webkit-keyframes random2 {
  0% {
    height: 22%;
  }

  50% {
    height: 65%;
  }

  100% {
    height: 22%;
  }
}

@keyframes random2 {
  0% {
    height: 22%;
  }

  50% {
    height: 65%;
  }

  100% {
    height: 22%;
  }
}

@-webkit-keyframes random3 {
  0% {
    height: 65%;
  }

  50% {
    height: 20%;
  }

  100% {
    height: 65%;
  }
}

@keyframes random3 {
  0% {
    height: 65%;
  }

  50% {
    height: 20%;
  }

  100% {
    height: 65%;
  }
}

@-webkit-keyframes random4 {
  0% {
    height: 20%;
  }

  50% {
    height: 80%;
  }

  100% {
    height: 20%;
  }
}

@keyframes random4 {
  0% {
    height: 20%;
  }

  50% {
    height: 80%;
  }

  100% {
    height: 20%;
  }
}

@-webkit-keyframes random5 {
  0% {
    height: 100%;
  }

  50% {
    height: 35%;
  }

  100% {
    height: 100%;
  }
}

@keyframes random5 {
  0% {
    height: 100%;
  }

  50% {
    height: 35%;
  }

  100% {
    height: 100%;
  }
}

@-webkit-keyframes random6 {
  0% {
    height: 25%;
  }

  50% {
    height: 100%;
  }

  100% {
    height: 25%;
  }
}

@keyframes random6 {
  0% {
    height: 25%;
  }

  50% {
    height: 100%;
  }

  100% {
    height: 25%;
  }
}

@-webkit-keyframes random7 {
  0% {
    height: 22%;
  }

  50% {
    height: 65%;
  }

  100% {
    height: 22%;
  }
}

@keyframes random7 {
  0% {
    height: 22%;
  }

  50% {
    height: 65%;
  }

  100% {
    height: 22%;
  }
}

@-webkit-keyframes random8 {
  0% {
    height: 65%;
  }

  50% {
    height: 20%;
  }

  100% {
    height: 65%;
  }
}

@keyframes random8 {
  0% {
    height: 65%;
  }

  50% {
    height: 20%;
  }

  100% {
    height: 65%;
  }
}

@-webkit-keyframes random9 {
  0% {
    height: 20%;
  }

  50% {
    height: 80%;
  }

  100% {
    height: 20%;
  }
}

@keyframes random9 {
  0% {
    height: 20%;
  }

  50% {
    height: 80%;
  }

  100% {
    height: 20%;
  }
}

@-webkit-keyframes random10 {
  0% {
    height: 100%;
  }

  50% {
    height: 35%;
  }

  100% {
    height: 100%;
  }
}

@keyframes random10 {
  0% {
    height: 100%;
  }

  50% {
    height: 35%;
  }

  100% {
    height: 100%;
  }
}

/*-------------------------------------*/

.controls {
  height: 370px;
  width: 100%;
  background: #fff;
  display: block;
  left: 0;
  top: 360px;
  color: #212121;
  font-size: 0;
  margin-top: 120px;
}

.gauge {
  width: 100%;
  height: 40px;
  background-color: #e0e0e0;
  border-radius: 5px;
  position: relative;
  margin-bottom: 20px;
}

.gauge-bar {
  height: 100%;
  background-color: #34a3e4;
  border-radius: 3px;
}

.gauge-text {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  font-size: 24px;
  color: white;
}

.controls .toggle {
  display: inline-block;
  width: 25%;
  font-size: 24px;
  text-transform: uppercase;
}

.controls .toggle img {
  width: 200px;
  height: 220px;
  margin-top: 20px;
}

.controls .toggle div {
  color: #1d1d1d;
  margin: 12px 0 40px;
}

.weather {
  position: absolute;
  top: 20px;
  right: 480px;
  font-size: 32px;
  color: #ffffff;
  font-family: "GmarketSansMedium", sans-serif;
}

#weather-icon {
  width: 70px;
  height: 70px;
}

.city-name {
  position: fixed;
  right: 700px;
  top: 30px;
  font-size: 32px;
  color: #ffffff;
  font-family: "GmarketSansMedium", sans-serif;
}
